<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- Appenders -->

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS ZZZZ} [%-5p] --> [%c] %m%n" />
        </layout>
    </appender>

    <!-- Velocity logging -->

    <logger name="com.cedarsolutions.gae.util.GaeVelocityUtils">
        <level value="INFO" />
    </logger>

    <!-- HTMLUnit logging (for GWT unit tests) -->

    <logger name="com.gargoylesoftware.htmlunit">
        <level value="INFO" />
    </logger>

    <!-- Apache HTTP logging (for GWT unit tests) -->

    <logger name="org.apache.http">
        <level value="INFO" />
    </logger>

    <!-- Spring logging -->

    <logger name="org.springframework.security.config.FilterChainProxyPostProcessor">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.web.context.support.XmlWebApplicationContext">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.ui.context.support.UiApplicationContextUtils">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.beans.factory.xml.XmlBeanDefinitionReader">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.security.config.EntryPointInjectionBeanPostProcessor">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.web.context.ContextLoader">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.beans.factory.support.DefaultListableBeanFactory">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.web.filter.DelegatingFilterProxy">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.beans.factory">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.context.support">
        <level value="ERROR" />
    </logger>

    <logger name="org.springframework.core.CollectionFactory">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.beans.TypeConverterDelegate">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.beans.CachedIntrospectionResults">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.web.servlet.DispatcherServlet">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.security">
        <level value="INFO" />
    </logger>

    <logger name="org.gwtwidgets.server.spring.GWTHandler">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.web.context.support.StandardServletEnvironment">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.core.env.StandardEnvironment">
        <level value="INFO" />
    </logger>

    <logger name="org.springframework.core.env.PropertySourcesPropertyResolver">
        <level value="INFO" />
    </logger>

    <!-- Other logging that it's worth turning down a bit. -->

    <logger name="org.apache.commons.beanutils">
        <level value="INFO" />
    </logger>

    <logger name="com.cedarsolutions.wiring.gwt.rpc.SecuredServiceExporter">
        <level value="INFO" />
    </logger>

    <logger name="com.cedarsolutions.server.service.impl.GwtCookieXsrfTokenService">
        <level value="INFO" />
    </logger>

    <!-- Root logger -->

    <root>
        <priority value="DEBUG" />
        <appender-ref ref="CONSOLE" />
    </root>

</log4j:configuration>
